@import '../../../layout/variables.scss';

.SingleWord {
  display: flex;
  flex-direction: column;
  margin: 10px;
  font-size: 10px;

  .address {
    color: red;
    margin-right: 10px;
  }

  .tribute {
  }

  .index {
    font-size: -webkit-xxx-large;
    color: red;
  }

  .word {
    font-size: -webkit-xxx-large;
    font-family: 'Lexend Deca', sans-serif;
    margin-left: 8px;
    font-weight: 900;
    font-size: 100px;
  }

  .wordDetail {
    display: flex;
    flex-direction: row;
  }

  .addressTribute {
    display: flex;
    flex-direction: row;
    padding-left: 5px;
    padding-right: 5px;
    border-bottom: black;
    border-width: 1px;
    border-style: solid;
    border-top-style: dashed;
    border-left: none;
    justify-content: space-between;
  }

  .hash {
    color: grey;
  }
}
