@import '../../layout/variables.scss';

.header {
  padding: 10px 0;
  background: rgb(250, 250, 250);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  height: auto;
  display: flex;
  flex-direction: row;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 40px;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 15px;

  .blackText {
    color: #000000b8;
    font-weight: 900;
  }
}

@media only screen and (max-width: $screen-sm-max) {
  .header nav ul .brand {
    width: 100%;
    margin-right: 0px;
    justify-content: flex-start;
  }
}
@media only screen and (max-width: $screen-sm-min) {
  .header {
    nav {
      flex-flow: row wrap;
      margin-top: 10px;
    }

    nav ul {
      flex-flow: row wrap;
      height: auto;
      li {
        width: 100%;
        text-align: left;
        padding: 3px 0;
      }
    }
  }
}
